.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  .main-bottom {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #fafafa;
  }
}
