//@import "./reset.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}

input::placeholder {
  @include textStyle(14px, 400, 22px, #999);
}

@mixin flexAlign($display, $justifycontent, $alignitems) {
  display: $display;
  justify-content: $justifycontent;
  align-items: $alignitems;
}

@mixin textStyle($fontsize, $fontweight, $lineheight, $color) {
  font-size: $fontsize;
  font-weight: $fontweight;
  line-height: $lineheight;
  color: $color;
}

@mixin textBtnStyle {
  background-color: rgba(000, 000, 000, 0);
  border: 0;
}
