@import '../../../../styles/variables';
@import '../../../../styles/mixin';

.feed-icon-set {
  .icon-comment {
    img {
      margin-right: 20px;
      vertical-align: middle;
    }

    .icon-bookmark {
      position: absolute;
      right: 0px;
      margin-left: auto;
    }
  }
  .like-comment {
    @include flexAlign(flex, null, center);
    margin-top: 16px;
    margin-bottom: 16px;

    .profile-image {
      width: 24px;
      height: 24px;
      margin-right: 8px;
      border-radius: 16px;
      background-repeat: no-repeat;
      object-fit: cover;
    }
  }
}
