/* stylelint-disable max-nesting-depth */
@import '../../../styles/variables';
@import '../../../styles/mixin';

.login {
  @include flexAlign(flex, center, center);
  height: 100vh;
  background-color: #f0f0f0;
  font-family: 'Noto Sans KR', sans-serif;
  @include textStyle(16px, 400, 24px, #111);

  .container {
    align-items: center;
    background-color: #fff;
    text-align: center;

    .logo-text {
      margin-bottom: 80px;
      font-family: 'Lobster', cursive;
      @include textStyle(70px, null, 70px, #111);
    }

    .input-set {
      input {
        display: block;
        width: 420px;
        margin-bottom: 12px;
        padding: 16px 16px;
        border: solid 1px $defaultWhite;
        border-radius: 4px;
        background-color: #fafafa;
        @include textStyle(18px, 400, 32px, #333);
        &::placeholder {
          @include textStyle(18px, 400, 32px, #999);
        }
      }
    }

    #btn-login {
      display: block;
      width: 420px;
      height: 60px;
      margin-top: 30px;
      margin-bottom: 30px;
      border: 1px solid lightgray;
      border-radius: 8px;
      text-align: center;
      @include textStyle(18px, 400, 60px, #fff);
    }

    .btn-login-on {
      background-color: #3a82ff;
    }

    .btn-login-off {
      opacity: 0.3;
      background-color: #3a82ff;
    }

    .btn-text {
      width: 420px;
      @include textBtnStyle;
      @include textStyle(16px, 400, 24px, #666);
      margin-bottom: 40px;
    }
  }
}
