@import '../../../styles/variables';
@import '../../../styles/mixin';

.feeds {
  width: 600px;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: #fff;

  ul {
    padding: 0;

    li {
      list-style: none;
    }
  }

  .comment-area {
    position: relative;
    width: 600px;
    padding: 16px;

    .time {
      color: #999;
    }
  }

  .comment-input-wrap {
    position: relative;
    align-items: center;
    width: 600px;
    border-top: 1px solid #efefef;

    .comment-input {
      width: 540px;
      padding: 20px;
      @include textBtnStyle;
    }

    .comment-btn-on {
      width: 60px;
      @include textBtnStyle;
      color: #4c9eee;
    }

    .comment-btn-off {
      width: 60px;
      @include textBtnStyle;
      color: #cce5fa;
    }
  }
}
